# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook
.ipynb_checkpoints

# macOS files
.DS_Store

# Logs
*.log
*.out
*.err

# SQLite database files
*.sqlite3

# VS Code settings
.vscode/

# Python egg
*.egg
*.egg-info/
dist/
build/
eggs/
